<div fxLayout="row" fxLayoutAlign="center center" class="page-body">
  <mat-card class="example-card" fxFlexAlign="center">
    <mat-card-content>
      <h3> Contact Us</h3>
      <form class="example-form mt1" #signInForm="ngForm" (ngSubmit)="login(signInForm)" autocomplete="off">
        <mat-form-field class="example-full-width">
          <input name="name" [(ngModel)]="contact.name" #name="ngModel" matInput placeholder="Name" required>
          <mat-error *ngIf="name.invalid">Please enter name</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input name="emailid" [(ngModel)]="contact.emailid" #emailid="ngModel" matInput placeholder="Email Id"
            required>
          <mat-error *ngIf="emailid.invalid">Please enter emailid</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input name="subject" [(ngModel)]="contact.subject" #subject="ngModel" matInput placeholder="Subject"
            required>
          <mat-error *ngIf="subject.invalid">Please enter subject</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <textarea name="description" [(ngModel)]="contact.description" rows="5" #description="ngModel" matInput placeholder="Description"
              required></textarea>
            <mat-error *ngIf="description.invalid">Please enter description</mat-error>
          </mat-form-field>
        <button class="mt1" type="submit" mat-raised-button color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>