<mat-toolbar color="primary">
  <img _ngcontent-c1="" alt="angular" class="site-logo" src="assets/images/logo.png">
  

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button mat-button routerLinkActive="active-link" routerLink="/home" >Home</button>
  <button mat-button routerLinkActive="active-link" routerLink="/offers" >Offers</button>
  <button mat-button routerLinkActive="active-link" routerLink="/contact-us" >Contact Us</button>
  <button mat-button routerLinkActive="active-link" routerLink="/signIn" >Login</button>
  
</mat-toolbar>
