<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card class="example-card">
    <mat-card-header>
      <h2>Northwest Semesterly</h2>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content class="cus-content">

      <p>
        <i class="fas fa-check"></i>
        5% off for the whole cost
      </p>
      <p>
        <i class="fas fa-check"></i>
        Free technical support
      </p>
      <p>
        <i class="fas fa-check"></i>
        No additional hidden fees
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <button mat-stroked-button color="primary">Book Now</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <h2>Northwest Yearly</h2>
    </mat-card-header>
    <mat-card-content class="cus-content">

      <p>
        <i class="fas fa-check"></i>
        10% off for the whole cost
      </p>
      <p>
        <i class="fas fa-check"></i>
        Free technical support
      </p>
      <p>
        <i class="fas fa-check"></i>
        No additional hidden fees
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <button mat-stroked-button color="primary">Book Now</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <h2>Northwest Bi-Yearly</h2>
    </mat-card-header>
    <mat-card-content class="cus-content">

      <p>
        <i class="fas fa-check"></i>
        5% off for the whole cost
      </p>
      <p>
        <i class="fas fa-check"></i>
        Free technical support
      </p>
      <p>
        <i class="fas fa-check"></i>
        No additional hidden fees
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <button mat-stroked-button color="primary">Book Now</button>
    </mat-card-actions>
  </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card class="example-card">
      <mat-card-header>
        <h2>Northwest Regular</h2>
      </mat-card-header>
      <mat-card-content class="cus-content">
        <p>
          <i class="fas fa-check"></i>
          No discount
        </p>
        <p>
          <i class="fas fa-check"></i>
          Free technical support
        </p>
        <p>
          <i class="fas fa-check"></i>
          No additional hidden fees
        </p>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center center">
        <button mat-stroked-button color="primary">Book Now</button>
      </mat-card-actions>
    </mat-card>
  </div>